.settings-page {
  :global {
    .ant-card-head-title {
      font-weight: 500;
    }

    .ant-divider-horizontal.ant-divider-with-text-left {
      margin: 32px 0 24px;
      
      &:first-child {
        margin-top: 0;
      }
    }

    .ant-form-item:last-child {
      margin-bottom: 0;
    }
  }
}


